
:root {
  --bgcolor: #beb8ac;
  --blue: #2fb7fe;
  --black: #3d3f42;
  --white: #f4f7ff;
  --gray: #d8dce4;
  --lightgray: #8e9095;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background: var(--bgcolor);
}
.clearfix {
  clear: both;
}
.total {
  /* width: 800px; */
  width: 800px;

  height: 1050px;
  margin: 100px auto;
  background: var(--white);
  box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.left-section {
  background: var(--black);
  width: 250px;
  height: 1050px;
  float: left;
}
.profile {
  overflow: hidden;
  position: relative;
}
.blue-box {
  width: 257px;
  height: 407px;
  background: var(--blue);
  margin-left: -100px;
  transform: rotateZ(48deg);
  margin-top: -178px;
}
.foto {
  position: absolute;
  z-index: 9;
  height: 120px;
  width: 120px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 3px solid var(--gray);
}
.name {
  color: var(--gray);
  text-align: center;
  margin-top: -34px;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
.name span {
  color: var(--blue);
}
.n-p {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  color: var(--gray);
  margin-top: 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.info {
  margin-top: 30px;
}
.heading {
  width: 180px;
  margin: 0 auto;
  padding: 7px;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  color: var(--gray);
  text-transform: uppercase;
  font-size: 15px;
}

.p1 {
  color: var(--gray);
  width: 184px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 15px;
  line-height: 14px;
}

.p1 span {
  font-size: 12px;
}

.span1 img {
  background: white;
  width: 30px;
  padding: 6px;
  border-radius: 16px;
  float: left;
  margin-right: 10px;
}

.programacion {
  background-color: white;
  color: black;
  border: 2px solid #5dd6f8; /* Green */
  margin-top: -10px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.programacion:hover {
  background-color: #5dd6f8; /* Green */
  color: black;
}


.dark{
display: flex;
/* margin-right: 10px; */
margin-bottom: 10px;
margin-left: 400px;
}

.right-section {
  padding: 40px 30px;
  background: var(--white);
  width: 68%;
  float: left;
  height: 1050px;
}
/* .p{
  font-family: "Poppins";
} */

.right-section img {
  background: var(--white);
  width: 36px;
  padding: 5px;
  border-radius: 17px;
  float: left;
  display: inline-block;
  margin-top: -6px;
  
}
.p2 {
  margin: 0 auto;
  padding: 2px;
  border-bottom: 1px solid var(--lightgray);
  border-top: 1px solid var(--lightgray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 50px;
  line-height: 18px;
}
.p3 {
  margin-top: 20px;
  color: var(--lightgray);
  text-align: justify;
  word-spacing: -4px;
}

.left{
  width: 25%;
  float: left;
}

.right {
  width: 75%;
  float: left;
}
.lr-box {
  margin-top: 14px;
  margin-bottom: 20px;
}
.p4 {
  font-size: 14px;
  font-weight: 600;
}
.p5 {
  font-size: 12px;
  color: var(--lightgray);
}
.li {
  margin-left: 20px;
  font-size: 12px;
  color: var(--lightgray);
}

.s-box {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 0px;
}
#progress {
  background: #333;
  border-radius: 13px;
  height: 8px;
  width: 100%;
}
#progress:after {
  content: "";
  display: block;
  background: var(--blue);
  width: 50%;
  height: 100%;
  border-radius: 9px;
}

/* aca va el perfil tecnologico */

.right-section2 {
  padding: 40px 30px;
  background: var(--white);
  width: 68%;
  float: left;
  height: 1050px;

}

.right-section2 img {
  background: var(--white);
  width: 36px;
  padding: 2px;
  border-radius: 50px;
  float: left;
  display: inline-block;
  margin-top: -6px;
}


.imgtec {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  /* float: left; */
  display:flex;
  margin: 6px;
  margin-left: 30px;
 border: none;

}
.imgtec img{

margin: 0 10px;
background-color: inherit;
}

.Aclasico {
  background-color: white;
  color: black;
  border: 2px solid #500008;
  margin-top: -10px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.Aclasico:hover {
  background-color: #500008; 
  color: white;
}

.blandas{
  float: right;
justify-content: center;

}

.tech{
display: none;
}

.clasico{
  display: block;
}



/* input[type="checkbox"]{
position: relative;
width: 40px;
height: 20px;
background-color: #0a0a0a ;
appearance: none;
outline: none;
border-radius: 20px;
cursor: pointer;
transition: 0.5em ease ;
margin-top: -10px;
margin-left: 440px;

}

input:checked{
  background-color: rgb(249, 249, 249);
}

input::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #17d0da;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.7s ease ;
  }

  input[type="checkbox"]::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #54545b;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.7s ease ;
    }
  input[type="checkbox"]:checked::before{
    transform: translate(20px);
  } */

  .dark-mode{
    width: 550px;
    background: #252525;
    color: #f2f2f2;
    
  }
  .dark-mode .li{
    color:var(--white);
  }
  .dark-mode .p3{
    color:var(--white);
  }
  .dark-mode .p5{
    color:var(--white);
  }

.red{
color: 
#a42500;
}
/* .red .p4{

color: #a42500;

} */
.blue{
 color: #2fb7fe;
}




